.about-us {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  width: 82%;
  margin-right: auto;
  margin-left: auto;
}

.about-us__list {
  @include reset-indent;
  display: flex;
  flex-direction: column;
  margin-top: 87px;
  list-style: none;
}

.about-us__item {
  position: relative;
  margin-bottom: 83px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $title;
}

.about-us__item--icon::before {
  position: absolute;
  content: "";
}

.about-us__item--icon-flower::before {
  width: 32px;
  height: 37px;
  top: -55px;
  left: 9px;

  background-image: url("../img/icon-feature-flower.svg");
}

.about-us__item--icon-money::before {
  width: 47px;
  height: 27px;
  top: -54px;
  left: 1px;

  background-image: url("../img/icon-feature-money.svg");
}

.about-us__item--icon-heart::before {
  width: 34px;
  height: 27px;
  top: -50px;
  left: 8px;

  background-image: url("../img/icon-feature-heart.svg");
}

.about-us__item--icon-ball::before {
  width: 35px;
  height: 34px;
  top: -52px;
  left: 5px;

  background-image: url("../img/icon-feature-ball.svg");
}

.about-us__item--icon-rocket::before {
  width: 55px;
  height: 23px;
  top: -52px;
  left: -5px;

  background-image: url("../img/icon-feature-rocket.svg");
}

.about-us__item--icon-gift::before {
  width: 33px;
  height: 32px;
  top: -53px;
  left: 4px;

  background-image: url("../img/icon-feature-gift.svg");
}

.about-us__item-last {
  margin-bottom: 0;
}

.about-us__item-flower {
  width: 177px;
}

.about-us__item-money {
  width: 204px;
}

.about-us__item-heart {
  width: 182px;
}

.about-us__item-ball {
  width: 215px;
}

.about-us__item-rocket {
  width: 253px;
}

.about-us__item-gift {
  width: 200px;
}

@media (min-width: $tablet-width) {
  .about-us {
    width: 87.6%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-us__title {
    width: 334px;
    margin-top: 10px;
  }

  .about-us__item {
    margin-bottom: 112px;
    font-size: 20px;
    line-height: 22px;

    &--icon-flower {
      order: 1;
    }

    &--icon-money {
      order: 3;
    }

    &--icon-heart {
      order: 5;
    }

    &--icon-ball {
      order: 2;
    }

    &--icon-rocket {
      order: 4;
    }

    &--icon-gift {
      order: 6;
    }
  }

  .about-us__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 102px;
    margin-left: 2px;
  }

  .about-us__item-flower {
    width: 210px;
    margin-right: 9%;
  }

  .about-us__item-money {
    width: 240px;
    margin-right: 6.6%;
  }

  .about-us__item-heart {
    width: 240px;
    margin-right: 2.9%;
  }

  .about-us__item-ball {
    width: 255px;
    // margin-left: 18.4%;
    margin-left: 9%;
    margin-right: 12%;
  }

  .about-us__item-rocket {
    width: 300px;
    // margin-left: 14.5%;
    margin-left: 7.5%;
    margin-right: 4.9%;
  }

  .about-us__item-gift {
    width: 240px;
    margin-left: 11.1%;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    width: 61.5%;
    max-width: 705px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-us__title {
    width: 400px;
  }

  .about-us__item-ball {
    // margin-left: 141px;
    margin-left: 75px;
  }

  .about-us__item-rocket {
    // margin-left: 113px;
    margin-left: 64px;
  }

  .about-us__item-gift {
    margin-left: 91px;
  }
}
