.about-us {
  display: flex;
  flex-direction: column;
}

.about-us__list {
  @include reset-indent;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.about-us__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $title;
}
