.assortment {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.assortment__title {
  min-height: 285px;
}

.assortment__list {
  display: flex;
  flex-direction: column;

  @include reset-indent;
  list-style: none;
}

.assortment__item {
  width: 100%;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &--interior:hover {
    background-color: #59d5bc;
  }

  &--toys:hover {
    background-color: #46c1ae;
  }
}

.assortment__item:active .assortment__link {
  opacity: 0.3;
}

.assortment__link {
  display: block;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .assortment__list {
    flex-direction: row;
  }

  .assortment__wrapper {
    margin: 0 auto;
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .assortment__wrapper {
    margin: 0 auto;
    width: 1050px;
  }
}
