.catalog__list {
  @include reset-indent;

  list-style: none;
}

.catalog__link-image,
.catalog__image {
  display: block;
}

.catalog-title {
  @include reset-indent;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $title;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__property {
  @include reset-indent;

  font-size: 13px;
  line-height: 30px;
}

.catalog__price {
  line-height: 24px;
  font-weight: bold;
  color: $title;
}

.catalog__buy {
  display: block;
  width: 20px;
  height: 19px;
}

.catalog-wrapper {
  display: flex;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    display: flex;
    margin-bottom: 54px;
  }

  .catalog__link-image {
    margin-right: 25px;
  }

  .catalog__item-info {
    display: flex;
    flex-direction: column;
  }

  .catalog-wrapper {
    display: flex;
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  .catalog__item {
    flex-direction: column;
    width: 316px;
  }

  .catalog__link-image {
    margin-right: 0;
  }
}
