.comment {
  padding-bottom: 51px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: left bottom;
  background-repeat: repeat-x;
}

.comment__wrapper {
  display: flex;
  flex-direction: column;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 54px;
}

.comment__text {
  @include reset-indent;
  margin-top: 24px;
  line-height: 30px;
}

.comment__author {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

.comment__author-name {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $title;
}

.comment__author-nick {
  display: block;
  margin-top: 7px;
  font-size: 17px;
}

.comment__buttons {
  display: flex;
  margin-top: 35px;
  margin-left: auto;
}

.comment__button {
  display: block;
  box-sizing: border-box;
  width: 130px;

  background-color: #ffffff;
  border: 1px solid #ececec;
  min-height: 52px;
}

.comment__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.comment__button:active {
  opacity: 0.3;
  cursor: pointer;
}

.comment__button--left {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 36px 12px;
}

.comment__button--right {
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 36px 12px;
}

.comment__button-write {
  width: auto;
  margin-top: 38px;
  padding: 14px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .comment {
    margin-top: -85px;
    padding-bottom: 133px;
    background-image: url("../img/review@1x.jpg"),
      url("../img/bg-zigzag-line-tablet.svg");
    background-position: left top, left bottom;
    background-repeat: no-repeat, repeat-x;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg"),
        url("../img/bg-zigzag-line-tablet.svg");
      background-size: 350px auto, auto;
    }
  }

  .comment__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 87%;
    padding-top: 77px;
    margin-left: auto;
    margin-right: auto;
  }

  .comment__title {
    order: 1;
  }

  .comment__body {
    order: 3;
  }

  .comment__buttons {
    order: 4;
  }

  .button--write-comment {
    order: 2;
    margin-left: auto;
  }

  .comment__author {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .comment__author__wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  .comment__button-write {
    width: 175px;
    margin-top: 2px;
  }

  .comment__text {
    margin-top: 45px;
    font-size: 17px;
  }

  .comment__author {
    margin-top: 58px;
    font-size: 18px;
  }

  .comment__author-nick {
    margin-top: 8px;
  }

  .comment__buttons {
    margin-top: 3px;
    margin-right: 17px;
  }

  .comment__button {
    width: 87.5px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    background-image: url("../img/review@1x.jpg"),
      url("../img/bg-zigzag-line-desktop.svg");
    background-position: 6.2% 7px, center bottom;
    background-repeat: no-repeat;
    padding-bottom: 187px;
  }

  .comment__wrapper {
    width: 1050px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 221px;
  }

  .comment__button-write {
    margin-top: 9px;
    margin-left: 479px;
    font-size: 17px;
  }

  .comment__text {
    width: 800px;
    padding-right: 75px;
    padding-left: 4px;
  }

  .comment__author {
    margin-top: 39px;
    margin-left: 5px;
  }
}
