.comment__wrapper {
  display: flex;
  flex-direction: column;
}

.comment__text {
  @include reset-indent;
  line-height: 30px;
}

.comment__author {
  display: flex;
  flex-direction: column;
}

.comment__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $title;
}

.comment__author-nick {
  font-size: 17px;
}

.comment__buttons {
  display: flex;
}

.comment__button {
  display: block;
  box-sizing: border-box;
  width: 130px;

  background-color: #ffffff;
  border: 1px solid #ececec;
  min-height: 52px;
}

@media (min-width: $tablet-width) {
  .comment {
    background-image: url("../../img/review@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .comment__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .text-title {
    order: 1;
  }

  .comment__body {
    order: 3;
  }

  .comment__buttons {
    order: 4;
  }

  .button--write-comment {
    order: 2;
  }

  .comment__author {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .comment__author__wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    background-position: 190px 0;
  }
}
