.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  @include reset-indent;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: $title;
}

.contacts__type,
.contacts__value {
  @include reset-indent;

  line-height: 30px;
}

.contacts__value {
  &--email {
    border-bottom: 1px solid #46c1ae;
  }

  &--email:hover {
    color: #46c1ae;
  }

  &--email:active {
    opacity: 0.3;
  }
}

.contacts__map {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    display: flex;
    flex-direction: row;
  }

  .contacts__tbody {
    display: flex;
  }

  .contacts__value {
    width: 100%;
  }

  .contacts__type {
    vertical-align: top;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__tbody {
    flex-direction: column;
    width: 240px;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    left: 50%;
  }

  .contacts__wrapper {
    justify-content: flex-start;
  }
}
