.order-form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.order-form__field {
  @include reset-indent;

  width: 81%;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.order-form__field--name {
  margin-bottom: 9px;
}

.order-form__field--tel {
  margin-bottom: 32px;
}

.order-form__field--email {
  margin-bottom: 32px;
}

.order-form__type {
  margin-bottom: 19px;
}

.order-form__list {
  @include reset-indent;
  list-style: none;
}

.order-form__item {
  padding-left: 62px;
  margin-bottom: 25px;
}

.order-form__input {
  // margin-bottom: 53px;
  margin-bottom: 22px;
}

.order-form__title {
  @include reset-indent;
  display: flex;
  margin-bottom: 33px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

.order-form__title-type {
  margin-bottom: 32px;
}

.order-form__title--color {
  margin-bottom: 36px;
}

.order-form__title--name {
  margin-bottom: 29px;
}

.order-form__title::after {
  content: "";
  width: 10px;
  height: 1px;
  align-self: center;
  margin-left: 20px;
  background-color: #62d1ba;
  flex-grow: 1;
}

.order-form__title--tel {
  margin-bottom: 7px;
}

.order-form__title--email {
  margin-bottom: 7px;
}

.order-form__title--extra {
  margin-bottom: 25px;
}

.order-form__label {
  display: block;
  position: relative;
  margin-top: 10px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $title;
}

.order-form__label::before {
  content: "";
  position: absolute;
  left: -62px;
  width: 36px;
  height: 36px;
}

.order-form__label--radio::before {
  top: -8px;
  border: 2px solid #444444;
  border-radius: 50%;
}

.order-form__radio:checked + .order-form__label--radio::before {
  width: 16px;
  height: 16px;
  top: -6px;
  left: -60px;
  border-radius: 50%;
  background-color: #62d1ba;
  border: 10px solid white;
  box-shadow: 0 0 0 2px #444444;
}

.order-form__label--radio:hover::before {
  border-color: #62d1ba;
}

.order-form__radio:checked:hover + .order-form__label--radio::before {
  box-shadow: 0 0 0 2px #62d1ba;
}

.order-form__label--radio:active::before {
  border-color: #c7c7c7;
}

.order-form__radio:checked:active + .order-form__label--radio::before {
  box-shadow: 0 0 0 2px #c7c7c7;
}

.order-form__label--checkbox::before {
  top: -11px;
  border: 2px solid #444444;
  border-radius: 0%;
}

.order-form__label--checkbox:hover::before {
  border-color: #62d1ba;
}

.order-form__label--checkbox:active::before {
  border-color: #c7c7c7;
}

.order-form_checkbox:checked + .order-form__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 7px 10px;
  background-size: 22px 16px;
}

.order-form__item-color {
  margin-bottom: 43px;
}

.order-form__footnote {
  display: block;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
}

.order-form__text-input {
  margin-top: 14px;
  width: 100%;
  height: 38px;
  padding-bottom: 17px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #000000;
}

.order-form__text-input--tel {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 96.5% 0;
}

.order-form__text-input--email {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 98% -3px;
}

.order-form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 142px;
  border: 2px solid #444444;
  resize: none;
  padding-left: 14px;
  padding-top: 13px;
}

.order-form__container {
  display: flex;
  flex-direction: column;
  width: 81%;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.order-form__text-input:hover,
.order-form__textarea:hover {
  border-color: #62d1ba;
}

.order-form__text-input--tel:hover,
.order-form__text-input--tel:focus {
  background-image: url("../img/icon-phone-hover.svg");
}

.order-form__text-input--email:hover,
.order-form__text-input--email:focus {
  background-image: url("../img/icon-mail-hover.svg");
}


.order-form__text-input::placeholder,
.order-form__textarea::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  opacity: 0.3;
}

.order-form__text-input:-ms-input-placeholder,
.order-form__textarea:-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
}

.order-form__text-input--tel::placeholder {
  font-size: 19px;
  text-transform: uppercase;
}

.order-form__text-input:focus,
.order-form__textarea:focus {
  border-color: #62d1ba;
  opacity: 1;
}

.order-form__text-input:focus::placeholder,
.order-form__textarea:focus::placeholder {
  opacity: 1;
}

.order-form__button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .order-form {
    margin-top: 74px;
  }

  .order-form__field {
    display: flex;
    width: 86.9%;
    margin-bottom: 10px;
  }

  .order-form__field--color {
    padding-top: 66px;
  }

  .order-form__field--name {
    padding-top: 56px;
    padding-bottom: 10px;
  }

  .order-form__label {
    font-size: 19px;
  }

  .order-form__label--checkbox {
    margin: 0;
  }

  .order-form__wrapper {
    width: 100%;
    background-color: #f1f1f1;
  }

  .order-form__title {
    width: 81px;
  }

  .order-form__title::after {
    display: none;
  }

  .order-form__title--name {
    padding-top: 11px;
  }

  .order-form__item {
    padding-left: 26%;
    margin-bottom: 58px;
  }

  .order-form__item-color {
    padding: 0;
    width: 140px;
  }

  .order-form__list {
    width: 100%;
  }

  .order-form__list--name {
    padding-left: 16%;
  }

  .order-form__label--radio {
    margin: 0;
    padding-left: 5%;
  }

  .order-form__label::before {
    left: -60px;
    width: 48px;
    height: 48px;
  }

  .order-form__label--radio::before {
    top: -16px;
  }

  .order-form__radio:checked + .order-form__label--radio::before {
    width: 22px;
    height: 22px;
    top: -14px;
    left: -58px;
    border-radius: 50%;
    border: 13px solid white;
  }

  .order-form__label--checkbox::before {
    top: -16px;
    left: -82px;
    width: 50px;
    height: 49px;
  }

  .order-form_checkbox:checked + .order-form__label--checkbox::before {
    background-position: 8px 14px;
    background-size: 33px 22px;
  }

  .order-form__list-color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 402px;
    justify-content: space-between;
    margin-left: 25.3%;
  }

  .order-form__input {
    display: flex;
    margin: 0;
    margin-bottom: 30px;
  }

  .order-form__text-input {
    margin-top: 8px;
    margin-left: 26px;
    padding-left: 15px;
  }

  .order-form__field--tel {
    padding-top: 56px;
  }

  .order-form__title--tel,
  .order-form__title--email {
    margin-top: 11px;
  }

  .order-form__text-input--tel,
  .order-form__text-input--email {
    margin-left: 16%;
    background-color: #f1f1f1;
    padding-right: 67px;
  }

  .order-form__text-input--tel {
    background-position: 95% -3px;
  }

  .order-form__text-input--email {
    background-position: 95.3% -3px;
  }


  .order-form__field--email {
    margin-top: 30px;
    padding-bottom: 40px;
  }

  .button--send {
    order: 1;
  }

  .order-form__text-input::placeholder,
  .order-form__textarea::placeholder {
    font-size: 19px;
    line-height: 18px;
  }

  .order-form__text-input:-ms-input-placeholder,
  .order-form__textarea:-ms-input-placeholder {
    font-size: 19px;
    line-height: 18px;
  }

  .order-form__field--extra {
    margin-bottom: 39px;
    padding-top: 50px;
  }

  .order-form__title--extra {
    margin-top: 17px;
  }

  .order-form__textarea {
    margin-left: 16%;
  }

  .order-form__label--person {
    max-width: 105px;
  }

  .order-form__container {
    flex-direction: row;
    justify-content: space-between;
    width: 86.9%;
    margin-bottom: 50px;
    align-items: flex-start;
  }

  .order-form__button {
    width: 34.2%;
  }

  .order-form__footnote {
    order: 2;
    width: 302px;
    margin-bottom: 0;
    padding-top: 8px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__field {
    width: 91.3%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .order-form__title {
    margin-left: 5.9%;
  }

  .order-form__title--email {
    width: 92px;
  }

  .order-form__item {
    padding-left: 82px;
  }

  .order-form__label::before {
    left: -39px;
  }

  .order-form__field--color {
    justify-content: flex-start;
  }

  .order-form__list-color {
    width: 749px;
    justify-content: space-between;
    margin-left: 31px;
  }

  .order-form__label--radio {
    width: 450px;
  }

  .order-form__radio:checked + .order-form__label--radio::before {
    left: -37px;
  }

  .order-form__label--checkbox::before {
    top: -17px;
    left: -80px;
  }

  .order-form__field--name {
    padding-top: 55px;
  }

  .order-form__list--name {
    padding-left: 48px;
  }

  .order-form__text-input {
    width: 100%;
    margin-right: 174px;
  }

  .order-form__text-input--tel,
  .order-form__text-input--email {
    margin-left: 58px;
    background-position: 99% -3px;
  }

  .order-form__textarea {
    width: 66.7%;
    margin-left: 33px;
  }

  .order-form__container {
    width: 61%;
    max-width: 700px;
    margin-top: 11px;
  }

  .order-form__button {
    width: 33%;
  }
}

.order-form__text-input--tel:-ms-input-placeholder {
  text-transform: uppercase;
}

.order-form_checkbox:focus + .order-form__label--checkbox {
  outline: 1px dotted black;
}

.order-form__radio:focus + .order-form__label--radio {
  outline: 1px dotted black;
}
