.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__logo-link {
  display: none;
  width: 102px;
  height: 34px;
}

.page-footer__social-list {
  @include reset-indent;
  display: flex;
  list-style: none;
}

.page-footer__developers {
  display: flex;
  width: 190px;
}

.page-footer__developers-text {
  @include reset-indent;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $title;
}

.page-footer__social {
  width: 200px;
}

@media (min-width: $tablet-width) {
  .page-footer__logo-link {
    display: block;
  }

  .page-footer__wrapper {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo-link {
    display: block;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
