.page-header {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
  }
}
