.production {
  width: 80%;
  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 59px;
  border: 1px solid #ececec;
}

.production__video {
  position: relative;
}

.production__video-preview {
  display: block;
  width: 100%;
}

.production__video-button {
  display: block;
  width: 101px;
  height: 77px;
  position: absolute;
  top: calc(50% - 37.5px);
  left: calc(50% - 50.5px);

  background-image: url("../img/icon-play.svg");
}

.production__video-button:hover {
  transform: scale(1.2);
}

.production__video-button:active {
  transform: scale(0.8);
  opacity: 0.3;
}

.production__text {
  @include reset-indent;
  width: 75%;
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  line-height: 24px;
}

.production__title {
  @include reset-indent;
  position: relative;
  width: 135px;
  margin-left: 89px;
  margin-top: 22px;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $title;
}

.production__title::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 22px;
  top: 11px;
  left: -57px;
  background-image: url("../img/icon-video.svg");
  background-position: 0 -5px;
  background-repeat: no-repeat;
}

.production__button {
  width: 75%;
  margin: 25px auto 32px;
  padding: 16px 23px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .production {
    display: flex;
    flex-direction: column;
    width: 87%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 63px;
    padding-bottom: 13px;
  }

  .production__video {
    order: 1;
  }

  .production__title {
    order: 2;
    width: 84%;
    margin: 0;
    padding-top: 36px;
    padding-left: 16%;
    font-size: 20px;
    border-top: 1px solid #ececec;
  }

  .production__title::before {
    top: 36px;
    left: 42px;
  }

  .production__text {
    order: 3;
    width: 88%;
    margin-top: 33px;
    font-size: 15px;
    line-height: 30px;
  }

  .button--order {
    order: 4;
    width: 87%;
    margin-top: 35px;
  }

  .production__video-preview {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .production {
    box-sizing: border-box;
    position: relative;
    width: 1050px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 104px;
    padding-left: 759px;
    padding-bottom: 60px;
  }

  .production__title {
    width: 230px;
    padding-left: 0;
    padding-top: 95px;
    border-top: none;
  }

  .production__title::before {
    top: 47px;
    left: 2px;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 455px;
  }

  .production__video-preview {
    width: 682px;
    height: 453px;
  }

  .production__text {
    width: 295px;
  }

  .production__button {
    width: 79.5%;
    margin: 44px 0 0 2px;
  }

  .production:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .production:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}
