.promo-product {
  display: flex;
  flex-direction: column;

  margin-top: 27px;
  padding-bottom: 31px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: left bottom;
  background-repeat: repeat-x;
}

.promo-product__wrapper {
  width: 81%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.promo-product__promo-type {
  display: block;
  margin-top: 6px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

.promo-product__propertys {
  @include reset-indent;
  width: 100%;
  margin-top: 17px;
  border-collapse: collapse;
}

.promo-product__property,
.promo-product__value {
  @include reset-indent;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  border-bottom: 1px solid #ececec;
}

.promo-product__property {
  width: 37.5%;
}

.promo-product__discription {
  @include reset-indent;
  margin-top: 22px;
  line-height: 24px;
}

.promo-product__image {
  display: block;
  width: 260px;
  height: 315px;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
}

.promo-product__price {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  width: 125px;
  margin-top: 25px;
  margin-left: calc(50% - 63px);
}

.promo-product__button {
  width: 259px;
  margin-top: 25px;
  padding: 14px 83px;
  margin-left: calc(50% - 130px);
}

@media (min-width: $tablet-width) {
  .promo-product {
    position: relative;
    margin-top: 47px;
    padding-bottom: 59px;
    background-image: url("../img/bg-zigzag-line-tablet.svg");
    background-position: left bottom;
    background-repeat: repeat-x;
  }

  .promo-product__wrapper {
    width: 87.3%;
  }

  .promo-product__title {
    width: 456px;
    z-index: 1;
  }

  .promo-product__wrapper-title {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }

  .promo-product__propertys {
    margin-top: 34px;
    width: 44%;
  }

  .promo-product__property {
    width: 33%;
  }

  .promo-product__discription {
    width: 285px;
    margin-top: 49px;

    font-size: 17px;
    line-height: 30px;
  }

  .promo-product__image {
    position: absolute;
    width: 333px;
    height: 404px;
    top: 78px;
    right: 6.6%;
  }

  .promo-product__promo-type {
    order: 1;
    width: 90px;
    margin-top: 11px;
    text-align: center;
    line-height: 17px;

    z-index: 1;
  }

  .promo-product__price {
    width: 150px;
    margin: 0;
    margin-top: 56px;
    margin-left: 72px;

    font-size: 20px;
    line-height: 24px;
  }

  .promo-product__button {
    width: 292px;
    margin: 0;
    margin-top: 34px;
    padding: 14px 98px;
  }
}

@media (min-width: $desktop-width) {
  .promo-product {
    background: none;
    padding-bottom: 0;
  }

  .promo-product__promo-type {
    position: relative;
    order: -1;
    margin-right: 44px;
    margin-top: 16px;
  }

  .promo-product__title {
    width: 540px;
    z-index: 2;
  }

  .promo-product__wrapper {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 96px;

    background-image: url("../img/bg-zigzag-line-desktop.svg");
    background-position: left bottom;
    background-repeat: repeat-x;
  }

  .promo-product__wrapper-title {
    margin-top: 78px;
    margin-left: 37px;
    justify-content: flex-start;
  }

  .promo-product__image {
    position: absolute;
    width: 525px;
    height: 636px;
    top: -3px;
    right: 0;

    z-index: 1;
  }

  .promo-product__discription {
    margin-left: 175px;
  }

  .promo-product__propertys {
    width: 292px;
    margin-top: 50px;
    margin-left: 175px;
  }

  .promo-product__property,
  .promo-product__value {
    padding-top: 8px;
    padding-bottom: 11px;
  }

  .promo-product__price {
    margin-top: 108px;
    margin-left: 248px;
  }

  .promo-product__button {
    margin-left: 175px;
  }
}
