.wrapper {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .wrapper {
    width: 87%;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: 1050px;
  }
}
